<!DOCTYPE html>
<html lang="en">
{{>header}}

<body>
    {{>navbar}}
    
    <div class="filters">
        <h1>Active Job Listings</h1>
        <div class="superfilters row">
            <div id='alljobs' class="col-md-8 jobcol animate__animated animate__slideInLeft ">
                {{!-- <div class="jobs">
                    <div class="row">
                        <i class="fas fa-user"></i>
                        <h6 class="pname">Person Name</h6>
                        <h5 class="salary">Salary</h5>
                    </div>
                    <div class="row jobrow">
                        <h4 class="jobtitle">Job Title</h4>
                        <h6 class="loc">Location</h6>
                    </div>
                    <div class="row btnrow">


                        <p class="desc">Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Type
                            Specimen Book. It Has Survived Not Only Five Centuries, But Also The Leap Into Electronic
                            Typesetting, Remaining Essentially Unchanged. It Was Popularised In The 1960s With The
                            Release Of Letraset Sheets Containing Lorem Ipsum Passages, And More Recently With Desktop
                            Publishing Software Like Aldus PageMaker Including Versions Of Lorem Ipsum.</p>
                       
                    </div>
                     <div class="skillrow">
                        <button disabled class="btn btn-light btn3">Skill</button>
                        <button disabled class="btn btn-light btn3">Skill</button>
                        <button class="btn btn-danger btn2" type="button">Contact</button>
                    </div>
                </div> --}}

                {{!-- <div class="jobs">
                    <div class="row">
                        <i class="fas fa-user"></i>
                        <h6 class="pname">Person Name</h6>
                        <h5 class="salary">Salary</h5>
                    </div>
                    <div class="row jobrow">
                        <h4 class="jobtitle">Job Title</h4>
                        <h6 class="loc">Location</h6>
                    </div>
                    <div class="row btnrow">


                        <p class="desc">Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Type
                            Specimen Book. It Has Survived Not Only Five Centuries, But Also The Leap Into Electronic
                            Typesetting, Remaining Essentially Unchanged. It Was Popularised In The 1960s With The
                            Release Of Letraset Sheets Containing Lorem Ipsum Passages, And More Recently With Desktop
                            Publishing Software Like Aldus PageMaker Including Versions Of Lorem Ipsum.</p>
                       
                    </div>
                    <div class="skillrow">
                        <button disabled class="btn btn-light btn3">Skill</button>
                        <button disabled class="btn btn-light btn3">Skill</button>
                        <button class="btn btn-danger btn2" type="button">Contact</button>
                    </div>
                     
                </div> --}}
                {{!-- <div class="jobs">
                    <div class="row">
                        <i class="fas fa-user"></i>
                        <h6 class="pname">Person Name</h6>
                        <h5 class="salary">Salary</h5>
                    </div>
                    <div class="row jobrow">
                        <h4 class="jobtitle">Job Title</h4>
                        <h6 class="loc">Location</h6>
                    </div>
                    <div class="row btnrow">


                        <p class="desc">Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Type
                            Specimen Book. It Has Survived Not Only Five Centuries, But Also The Leap Into Electronic
                            Typesetting, Remaining Essentially Unchanged. It Was Popularised In The 1960s With The
                            Release Of Letraset Sheets Containing Lorem Ipsum Passages, And More Recently With Desktop
                            Publishing Software Like Aldus PageMaker Including Versions Of Lorem Ipsum.</p>
                       
                    </div>
                     <div class="skillrow">
                        <button disabled class="btn btn-light btn3">Skill</button>
                        <button disabled class="btn btn-light btn3">Skill</button>
                        <button class="btn btn-danger btn2" type="button">Contact</button>
                    </div>
                </div> --}}
                {{!-- <div class="jobs">
                    <div class="row">
                        <i class="fas fa-user"></i>
                        <h6 class="pname">Person Name</h6>
                        <h5 class="salary">Salary</h5>
                    </div>
                    <div class="row jobrow">
                        <h4 class="jobtitle">Job Title</h4>
                        <h6 class="loc">Location</h6>
                    </div>
                    <div class="row btnrow">


                        <p class="desc">Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Type
                            Specimen Book. It Has Survived Not Only Five Centuries, But Also The Leap Into Electronic
                            Typesetting, Remaining Essentially Unchanged. It Was Popularised In The 1960s With The
                            Release Of Letraset Sheets Containing Lorem Ipsum Passages, And More Recently With Desktop
                            Publishing Software Like Aldus PageMaker Including Versions Of Lorem Ipsum.</p>
                       
                    </div>
                     <div class="skillrow">
                        <button disabled class="btn btn-light btn3">Skill</button>
                        <button disabled class="btn btn-light btn3">Skill</button>
                        <button class="btn btn-danger btn2" type="button">Contact</button>
                    </div>
                </div> --}}
            </div>
            <div class="col-md-4 extrafilter animate__animated animate__slideInRight ">
                <h3>Filters</h3>
                 <input class="form-control " id="citySearch" type="search" placeholder="Enter city/state name" aria-label="Search">
                <div class="salrayfilter sort">
                    <h6>Select desired salary range:</h6>
                    <select id="salaryrange" class="form-control">
                        <option selected="selected" value="1">10k-20k</option>
                        <option value="2">20k-30k</option>
                        <option value="3">30k-40k</option>
                        <option value="4">40k-50k</option>
                        <option value="5">>50k</option>
                    </select>
                </div>
                <div class="work_time sort">
                    <h6>Work from home available:</h6>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="workyes"
                            value="workyes">
                        <label class="form-check-label" for="workyes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="workno"
                            value="workno">
                        <label class="form-check-label" for="workno">No</label>
                    </div>
                </div>
                    <div class="jobtime sort">
                        <h6>Job type:</h6>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="partjob"
                            value="partjob">
                        <label class="form-check-label" for="partjob">Part-time</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="fulljob"
                            value="fulljob">
                        <label class="form-check-label" for="fulljob">Full-time</label>
                    </div>
                    </div>
                    <div class="skillsearch sort">
                        <h6>Search by skills required:</h6>
                        <select id="skillset" class="form-control">
                        <option selected="selected" value="1">Web developer</option>
                        <option value="2">App developer</option>
                        <option value="3">Marketing</option>
                        <option value="4">UI/UX designer</option>
                        <option value="5">Adobe Photoshop</option>
                    </select>
                    </div>
                    <div class="designation sort">
                        <h6>Select your designation:</h6>
                        <select id="designation" class="form-control">
                        <option selected="selected" value="1">Bachelor Of Technology</option>
                        <option value="2">Bachelor Of Science</option>
                        <option value="3">Masters in science</option>
                        <option value="4">Masters in bussiness administration</option>
                        <option value="5">Bachelors in commerce</option>
                    </select>
                    </div>
                    <button type="button" class="btn btn-danger" id="btn4">Apply</button>
                </div>
            </div>
        </div>
   {{>footer}}
</body>
<script src="js/index.js"></script>
<script defer async>
    

    
     fetch(proxyurl+ 'https://loca-ly.herokuapp.com/api/', {
           
            method: 'POST',
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "Content-Type": "application/json",
                "Accept": "*/*",
                "Authorization": `JWT ${localStorage.getItem("authtoken")}`
            },
            body: JSON.stringify({
                query: `
        
        query{
            alljobs{
              title
              jobtype
              description
              workfromhome
              pay
              skillsrequired
              mobile
              minimumdesignation
              location
              
              }
            }
        `
            })
        }).then(res => res.json())
            .then(data => {
                console.log(data)
                
                data.data.alljobs.forEach(alljobs => {

                    console.log(alljobs.title)
                    document.getElementById("alljobs").innerHTML+=
                        `<div class='jobs'>
      <div class='row'>
          <i class='fas fa-user'></i>
          <h6 class='pname'>Person Name</h6>
          <h5 class='salary'>${alljobs.pay}</h5>
      </div>
      <div class='row jobrow'>
          <h4 class='jobtitle'>${alljobs.title}</h4>
          <h6 class='loc'>${alljobs.location}</h6>
      </div>
      <div class='row btnrow'>


          <p class='desc'>${alljobs.description}</p>
         
      </div>
       <div class='skillrow'>
          <button disabled class='btn btn-light btn3'>Skills:${alljobs.skillsrequired}</button>
          <button disabled class='btn btn-light btn3'>Work from home: ${alljobs.workfromhome}</button>
          <button disabled class='btn btn-light btn3'>Job type: ${alljobs.jobtype}</button>
          <button class='btn btn-danger btn2' type='button'>Contact</button>
      </div>
  </div>`
                })
                 
            })
    
</script>
</html>