<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    {{>navbar}}
    
<div class="apartments row">
        <div class="col-md-8" id="listapart">
            <h3>Apartments</h3>
            <div class="flat">
                <div class="row">
                    <h6 class="pname">Name</h6>
                    <h6 class="salary">Price</h6>

                </div>
                <div class="row">
                    <button disabled class="btn btn-light btn3">Features</button>
                    <button disabled class="btn btn-light btn3">Features</button>
                    <h6 class="loc">Location</h6>
                </div>
                <div class="row myrowbtn">
                    <button onclick="slide()" class="btn btn-secondary" id="vd" type="button">View Details</button>
                </div>
                <div class="slideup" id="slider">
                    <div class="details">
                        <h5>Photos</h5>
                        <div id="carouselExampleControls" class="carousel slide ci" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active mydivs " id="div1">

                                </div>
                                <div class="carousel-item  mydivs" id="div2">

                                </div>
                                <div class="carousel-item mydivs" id="div3">

                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <div class="superdetails">
                            <h5>Key features:</h5>
                            <button disabled class="btn btn-light btn3">Features</button>
                            <button disabled class="btn btn-light btn3">Features</button>
                            <button disabled class="btn btn-light btn3">Features</button>
                            <button disabled class="btn btn-light btn3">Features</button>
                        </div>
                        <div class="nearby">
                            <h5>Nearby Places:</h6>
                                <div class="rest">
                                    <h6>Restaurants</h6>
                                    <div class="row">
                                        <h6>restaurant name</h6>
                                        <h6 class="restime">time</h6>
                                        <h6 class="distance">Distance</h6>
                                    </div>
                                    <div class="row">
                                        <h6>restaurant name</h6>
                                        <h6 class="restime">time</h6>
                                        <h6 class="distance">Distance</h6>
                                    </div>
                                    <div class="row">
                                        <h6>restaurant name</h6>
                                        <h6 class="restime">time</h6>
                                        <h6 class="distance">Distance</h6>
                                    </div>
                                    <div class="row">
                                        <h6>restaurant name</h6>
                                        <h6 class="restime">time</h6>
                                        <h6 class="distance">Distance</h6>
                                    </div>
                                    <div class="row">
                                        <h6>restaurant name</h6>
                                        <h6 class="restime">time</h6>
                                        <h6 class="distance">Distance</h6>
                                    </div>
                                </div>
                                <div class="shops">
                                    <h6>Convenience Stores</h6>
                                    <div class="row">
                                        <h6>Shop name</h6>
                                        <h6 class="restime">Time</h6>
                                        <h6 class="distance">Distance</h6>
                                    </div>
                                    <div class="row">
                                        <h6>Shop name</h6>
                                        <h6 class="restime">Time</h6>
                                        <h6 class="distance">Distance</h6>
                                    </div>
                                    <div class="row">
                                        <h6>Shop name</h6>
                                        <h6 class="restime">Time</h6>
                                        <h6 class="distance">Distance</h6>
                                    </div>
                                    <div class="row">
                                        <h6>Shop name</h6>
                                        <h6 class="restime">Time</h6>
                                        <h6 class="distance">Distance</h6>
                                    </div>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div id="apartfilter" class="col-md-4">
            <h4>Filters</h4>
            <input class="form-control " id="citySearch" type="search" placeholder="Enter city/state name"
                aria-label="Search">
            <div class="salrayfilter sort">
                <h6>Select monthly rent range</h6>
                <select id="pgrentrange" class="form-control">
                    <option selected="selected" value="1">5k
                    </option>
                    <option value="2">5k-7k</option>
                    <option value="3">7k-9k</option>
                    <option value="4">9k-10k</option>
                    <option value="5">>10k</option>
                </select>
            </div>
            <div class="work_time sort">
                <h6>PG Type:</h6>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="pgtype" id="bo" value="workyes">
                    <label class="form-check-label" for="workyes">Boys</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="pgtype" id="gi" value="workno">
                    <label class="form-check-label" for="workno">Girls</label>
                </div>
               
            </div>
            <div class="work_time sort">
                <h6>Meals Included</h6>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="foodava" id="fyes" value="workyes">
                    <label class="form-check-label" for="workyes">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="foodava" id="fno" value="workno">
                    <label class="form-check-label" for="workno">No</label>
                </div>
               
            </div>
            <div class="work_time sort">
                <h6>Laundary Available:</h6>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="laundava" id="lyes" value="workyes">
                    <label class="form-check-label" for="workyes">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="laundava" id="lno" value="workno">
                    <label class="form-check-label" for="workno">No</label>
                </div>
               
            </div>
            
            <button type="button" class="btn btn-danger" id="btn4">Apply</button>
        </div>
</div>
{{>footer}}
</body>
<script src="js/index.js"></script>
</html>