<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    {{>navbar}}
    
<div class="apartments row">
    
        <div class="col-md-8" >
            <h3>PGs</h3>
            <div id="listapart"></div>
            </div>
            <div id="apartfilter" class="col-md-4">
            <h4>Filters</h4>
            <input class="form-control " id="citySearch" type="search" placeholder="Enter city/state name"
                aria-label="Search">
            <div class="salrayfilter sort">
                <h6>Select monthly rent range</h6>
                <select id="pgrentrange" class="form-control">
                    <option selected="selected" value="1">5k
                    </option>
                    <option value="2">5k-7k</option>
                    <option value="3">7k-9k</option>
                    <option value="4">9k-10k</option>
                    <option value="5">>10k</option>
                </select>
            </div>
            <div class="work_time sort">
                <h6>PG Type:</h6>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="pgtype" id="bo" value="workyes">
                    <label class="form-check-label" for="workyes">Boys</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="pgtype" id="gi" value="workno">
                    <label class="form-check-label" for="workno">Girls</label>
                </div>
               
            </div>
            <div class="work_time sort">
                <h6>Meals Included</h6>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="foodava" id="fyes" value="workyes">
                    <label class="form-check-label" for="workyes">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="foodava" id="fno" value="workno">
                    <label class="form-check-label" for="workno">No</label>
                </div>
               
            </div>
            <div class="work_time sort">
                <h6>Laundary Available:</h6>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="laundava" id="lyes" value="workyes">
                    <label class="form-check-label" for="workyes">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="laundava" id="lno" value="workno">
                    <label class="form-check-label" for="workno">No</label>
                </div>
               
            </div>
            
            <button type="button" class="btn btn-danger" id="btn4">Apply</button>
        </div>
</div>
{{>footer}}
</body>
<script src="js/index.js"></script>
<script>
     async function fet(){
         await   fetch("https://places.ls.hereapi.com/places/v1/discover/here?at=32.0385%2C75.4051&size=40&apiKey=I3YpvmfmwocAiuY10G7Wg4zrDSppAALrKHOKPAdUkDQ")
.then(res=>res.json())
.then((data)=>{
    data.results.items.forEach(items=>{
        document.getElementById('allnear').innerHTML += 
        `
        <div id='gg' class='row'><h6>${items.title}</h6>
            <h6>${items.category.id}</h6>
            <h6>${items.distance}0m</h6>
           
        </div>
        `
    })
    })
.catch((err)=>{
    console.log(err)
})
     }
 
     console.log("GG")
     fetch(proxyurl+ 'https://loca-ly.herokuapp.com/api/', {
           
            method: 'POST',
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "Content-Type": "application/json",
                "Accept": "*/*",
                "Authorization": `JWT ${localStorage.getItem("authtoken")}`
            },
            body: JSON.stringify({
                query: `
        
        query{
  allpgs{
    rent
    roomtype
    
    kitchenAvailable
    washroomAttached
    laundryIncluded
    url
    usertype
    location
  }
}

        `
            })
        }).then(res => res.json())
            .then(data => {            
               console.log(data);
               data.data.allpgs.forEach(allpgs =>{
                    localStorage.setItem("emial",allpgs.rent)
                    document.getElementById("listapart").innerHTML+=
                    `   
            <div class='flat'>
                <div class='row'>
                    <h6 class='pname'>Person name</h6>
                    <h6 class='salary'>${allpgs.rent}</h6>

                </div>
                <div class='row'>
                    <button disabled class='btn btn-light btn3'>PG type: ${allpgs.usertype}</button>
                    <button disabled class='btn btn-light btn3'>Kitchen Available:${allpgs.kitchenAvailable} </button>
                    <h6 class='loc'>${allpgs.location}</h6>
                </div>
                <div class='row myrowbtn'>
                    <button onclick='slide()' class='btn btn-secondary' id='vd' type='button'>View Details</button>
                </div>
                <div class='slideup' id='slider'>
                    <div class='details'>
                        <h5>Photos</h5>
                        <div id='carouselExampleControls' class='carousel slide ci' data-ride='carousel'>
                            <div class='carousel-inner'>
                                <div class='carousel-item active >
                                    <img class='w-100 d-block' src='https://2.imimg.com/data2/FH/YK/MY-3143739/200908220720522_bedroom-500x500.jpg'>
                                </div>
                                
                            </div>
                           
                        </div>
                        <div class='superdetails'>
                            <h5>Key features:</h5>
                            <button disabled class='btn btn-light btn3'>Attached Washroom: ${allpgs.washroomAttached}</button>
                            <button disabled class='btn btn-light btn3'>Laundary: ${allpgs.laundryIncluded}</button>
                            
                        </div>
                        <div class='nearby' id='allnear'>
                            
                                

                        </div>
                    </div>
                </div>
            </div>`
            fet()
                })
                 
            })
            
        
                  

               
  

</script>
</html>