<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="home">Home</a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Jobs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a id='iwd' class="dropdown-item" onclick="showalljobs()" href="jobs">View job listings</a>
          <a onclick="toggleForm()" class="dropdown-item" href="#"  >Create job listing</a>
          </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Rentals
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="apartment">Rent an apartment</a>
          <a class="dropdown-item" href="pg">Find PGs</a>
          
          <a class="dropdown-item" onclick="toggleForm2()" href="#">List your apartment</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    
  </div>
</nav>
 <div class="overlay-form " id="form1">
  <div class="close-btn" onclick="toggleForm()">&times;</div>
  <h1>List details</h1>
  <div class="form-element">
    <label for="fullname">Name</label>
    <input type="text" id="fullname">
  </div>
  {{!-- <div class="form-element">
    <label for="email">Email</label>
    <input type="email" id="email">
  </div> --}}
  
  <div class="form-element">
    <label for="salary">Contact</label>
    <input type="text" id="phone">
  </div>
  <div class="form-element">
    <label for="salary">Job title</label>
    <input type="text" id="jtitle">
  </div>
  <div class="form-element">
    <label for="salary">Description</label>
    <input type="text" id="des">
  </div>
  <div class="form-element">
    <label for="salary">Salary</label>
    <input type="number" id="salary">
  </div>
  <div class="form-element">
    <label for="city">City</label>
    <input type="text" id="city">
  </div>
  {{!-- <div class="form-element">
    <label for="state">State</label>
    <input type="text" id="state">
  </div> --}}
  <div class="jobtime sort form-element">
                        <h6>Job type:</h6>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions6" id="partjob2"
                            value="P">
                        <label class="form-check-label" for="partjob">Part-time</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions6" id="fulljob2"
                            value="F">
                        <label class="form-check-label" for="fulljob">Full-time</label>
                    </div>
                    </div>
      <div class="work_time sort form-element">
                    <h6>Work from home available:</h6>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions5" id="workyes2"
                            value="Y">
                        <label class="form-check-label" for="workyes">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions5" id="workno2"
                            value="N">
                        <label class="form-check-label" for="workno">No</label>
                    </div>
                </div>
                    
                    <div class="skillsearch sort form-element">
                        <h6>Skills required:</h6>
                        <select id="skillset" class="form-control">
                        <option selected="selected" value="Web Developer">Web developer</option>
                        <option value="App Developer">App developer</option>
                        <option value="Marketing">Marketing</option>
                        <option value="UI/UX designer">UI/UX designer</option>
                        <option value="Adobe">Adobe Photoshop</option>
                        <option value="Not specified">Other</option>
                    </select>
                    </div>
                    <div class="designation sort form-element">
                        <h6>Minimum designation:</h6>
                        <select id="designation" class="form-control">
                        <option selected="Bachelor Of Technology" value="1">Bachelor Of Technology</option>
                        <option value="Bachelor Of Science">Bachelor Of Science</option>
                        <option value="Masters in Science">Masters in science</option>
                        <option value="MBA">Masters in bussiness administration</option>
                        <option value="BCom">Bachelors in commerce</option>
                        <option value="Not Specified">Other</option>
                    </select>
                    </div>
  
  <div class="form-element">
    <button type="button" onclick="addjob()" >Submit</button>
  </div>
</div>
 <div class="overlay-form2 overlay2" id="form2">
  <div class="close-btn" onclick="toggleForm2()">&times;</div>
  <h1>Enter all the details</h1>
  
  <div class="form-element">
    <label for="fullname">Name</label>
    <input id="afname" type="text" >
  </div>
  <div class="form-element">
    <label for="email">Email</label>
    <input id="aemail" type="email">
  </div>
  <div class="form-element">
    <label for="email">Contact</label>
    <input id="acontact" type="text">
  </div>
  <div class="form-element">
    <label for="email">Monthly rent</label>
    <input id="arent" type="text" >
  </div>
  <div class="form-element">
    <label for="email">City</label>
    <input id="acity" type="text" >
  </div>
  
 <div class="skillsearch sort form-element">
                        <h6>Apartment type::</h6>
                        <select id="atype" class="form-control">
                       <option value="1 BHK" selected>1 BHK</option>
                       <option value="2 BHK" >2 BHK</option>
                       <option value="3 BHK" >3 BHK</option>
                    </select>
                    </div>
  <div>
    <input id="upimages" type="file" name="photos" multiple>
  </div>
  <div class="form-element">
    <button onclick="addhome()" type="button">Submit</button>
  </div>
</div>
 <div class="overlay-form3 overlay3" id="form3">
  <div class="close-btn" onclick="toggleForm3()">&times;</div>
  <h1>Enter all the details</h1>
  
  <div class="form-element">
    <label for="fullname">Name</label>
    <input id="pfname" type="text" id="fullname3">
  </div>
  <div class="form-element">
    <label for="email">Email</label>
    <input id="pemail" type="email" id="email3">
  </div>
  <div class="form-element">
    <label for="email">Contact</label>
    <input id="pcontact" type="text" id="contact1">
  </div>
  <div class="form-element">
    <label for="email">Monthly rent</label>
    <input id="prent" type="text" id="rent1">
  </div>
  <div class="form-element">
    <label for="email">City</label>
    <input id="pcity" type="text" id="city2">
  </div>
  
 <div class="skillsearch sort form-element">
                        <h6>PG type:</h6>
                        <select id="ptype" class="form-control">
                       <option value="Boys" selected>Boys</option>
                       <option value="Girls" >Girls</option>
                                           </select>
                    </div>
  <div>
 <div class="skillsearch sort form-element">
                        <h6>Meals/Kitchen included:</h6>
                        <select id="pfood" class="form-control">
                       <option value="Y" selected>Yes</option>
                       <option value="N" >No</option>
                                           </select>
                    </div>
 <div class="skillsearch sort form-element">
                        <h6>Laundary included:</h6>
                        <select id="plaund" class="form-control">
                       <option value="Y" selected>Yes</option>
                       <option value="N" >No</option>
                                           </select>
                    </div>
 <div class="skillsearch sort form-element">
                        <h6>Attached Washroom:</h6>
                        <select id="pwash" class="form-control">
                       <option value="Y" selected>Yes</option>
                       <option value="N" >No</option>
                                           </select>
                    </div>
 <div class="skillsearch sort form-element">
                        <h6>Room Types:</h6>
                        <select id="prtype" class="form-control">
                       <option value="1" selected>Single-seater</option>
                       <option value="2" >Two-seater</option>
                       <option value="3" >Three-seater</option>
                                           </select>
                    </div>
  <div>
    <input id="pupimages" type="file" name="photos" multiple>
  </div>
  <div class="form-element">
    <button onclick="addpg()" type="button">Submit</button>
  </div>
</div>
